body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form#LoginForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form#LoginForm div {
    margin-bottom: 15px;
}

form#LoginForm label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form#LoginForm input[type="text"],
form#LoginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form#LoginForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e374ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form#LoginForm button[type="submit"]:hover {
    background-color: #e374ff;
}
